@use "variables" as v;
.home,
.bestsellers {
  display: flex;
  justify-content: space-between;
  padding-top: 35px;
  padding-bottom: 25px;

  &__viewall {
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 5px;

    div {
      background-color: black;
      width: 20px;
      height: 1px;
    }

    span {
      text-transform: uppercase;
      cursor: pointer;
    }
    &:hover {
      font-weight: 600;
    }
  }
}
