@use "variables" as v;
.home {
  padding-top: 35px;
  padding-bottom: 25px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  .divider {
    width: 100%;
    height: 1px;
    background-color: grey;
  }
}
.bestsellers {
  display: flex;
  justify-content: space-between;
  padding-top: 35px;
  padding-bottom: 25px;
}
